@section scripts {
    @Scripts.Render("~/bundles/app")
}

<head>
    <link rel="stylesheet" href="/Content/bootstrap.css" />
    <link rel="stylesheet" href="/Content/Styles.css" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <title>BookService</title>

</head>

<body>
    <div class="container" data-bind="foreach: books">
        <div class="row book">
            <div class="col-md-3">
                <img data-bind="attr:{src: BookImage}" />
            </div>
            <div class="col-md-9">
                <a href="#" data-bind="click: $parent.getBookDetail">
                    <h3><span>The current item is: <b data-bind="text: BookID"></b></span></h3>
                    <h3><span data-bind="text: BookName"></span></h3>
                </a>
                <p><span data-bind="text: AuthorName"></span></p>
                <p><span data-bind="text: Category"></span></p>
                <p><span data-bind="text: Description"></span></p>
                <small><a href="" data-bind="click: $parent.deleteBook">Delete</a></small>
            </div>
        </div>
    </div>
    <!-- ko if:bookDetail() -->
    <div class="container">
        <div class="row book">
            <div class="col-md-3">
                <img data-bind="attr:{src: bookDetail().BookImage}" />
            </div>
            <div class="col-md-9">
                <h3><span data-bind="text: bookDetail().BookName"></span></h3>
                <p>Автор: <span data-bind="text: bookDetail().AuthorName"></span></p>
                <p>Год издания: <span data-bind="text: bookDetail().Year"></span></p>
                <p>ISBN: <span data-bind="text: bookDetail().ISBN"></span></p>
                <p>Переплет: <span data-bind="text: bookDetail().Cover"></span></p>
                <p>Язык: <span data-bind="text: bookDetail().Language"></span></p>
                <p>Количество страниц: <span data-bind="text: bookDetail().Pages"></span></p>
                <p>Категория: <span data-bind="text: bookDetail().Category"></span></p>
                <p>Описание: <span data-bind="text: bookDetail().Description"></span></p>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
</body>
