@section scripts {
    @Scripts.Render("~/bundles/app")
}

<head>
    <link rel="stylesheet" href="/Content/bootstrap.css" />
    <link rel="stylesheet" href="/Content/Styles.css" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <title>BookService</title>

</head>

<body>
     <!-- ko if:bookDetail() -->
    <div class="container" >
        <div class="row book">
            <div class="col-md-3">
                <img data-bind="attr:{src: bookDetail().BookImage}" />
            </div>
            <div class="col-md-9">
                <h3><span data-bind="text: bookDetail().BookName"></span></h3>
                <p><span data-bind="text: bookDetail().AuthorName">Автор: </span></p>
                <p><span data-bind="text: bookDetail().Year">Год издания: </span></p>
                <p><span data-bind="text: bookDetail().ISBN">ISBN: </span></p>
                <p><span data-bind="text: bookDetail().Cover">Переплет: </span></p>
                <p><span data-bind="text: bookDetail().Language">Язык: </span></p>
                <p><span data-bind="text: bookDetail().Pages">Количество страниц: </span></p>
                <p><span data-bind="text: bookDetail().Category">Категория: </span></p>
                <p><span data-bind="text: bookDetail().Description">Описание: </span></p>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
</body>
